<ng-container>
  <h4 class="title">To Do List</h4>
    <div class="form-content">
      <div class="form-group">
        <input
          class="form-control"
          [ngModel]="keySearch"
          (ngModelChange)="valuechange($event)"
          type="text"
          placeholder="Search ..."
        />
      </div>
      <div *ngFor="let item of dataSource">
        <div class="card-items">
          <div class="item-info">
            <input class="form-control" type="checkbox" value="" (click)="handleChecked(item.id)" />
            {{item.taskName}}
          </div>
          <div class="item-config d-flex">
              <button class="btn btn-info" (click)="handleDetail(item.id)">Detail</button>
              <button class="btn btn-danger" (click)="handleRemove(item.id)">Remove</button>
          </div>
        </div>
  
        <div class="form-content sub-content" *ngIf="this.dataSourceDetail.length > 0 && this.dataSourceDetail[0].id === item.id">
          <form  [formGroup]="form">
            <div class="form-group">
              <input
                class="form-control"
                formControlName="taskName"
                [required]="true"
                type="text"
                value=""
                placeholder="Do homework"
              />
              <div class="invalid-feedback" *ngIf="isUpdate && form.get('taskName').hasError('required')">Task name is required</div>
            </div>
      
            <div class="form-group">
              <label for="usr">Description</label>
              <textarea [required]="true" formControlName="taskDescription" name="" id="" cols="30" rows="8"></textarea>
              <div class="invalid-feedback" *ngIf="isUpdate && form.get('taskDescription').hasError('required')">Description is required</div>
            </div>
      
            <div class="d-flex">
              <div class="sub-control">
                <label for="usr">Due Date</label>
                <input
                  formControlName="taskDueDate"
                  [min]='minDate'
                  class="form-control"
                  type="date"
                  value=""
                  placeholder="Add new task ..."
                />
              </div>
      
              <div class="sub-control m-left-4">
                <label for="usr">Piority</label>
                <select formControlName="taskPiority" class="form-control" name="piority">
                  <option value="nomal">Nomal</option>
                  <option value="low">Low</option>
                  <option value="high">High</option>
                </select>
              </div>
            </div>
          </form>
          <button class="btn btn-success" (click)="handleUpdate(dataSourceDetail[0].id)">Update</button>
        </div>
      </div>
    </div>

    <div class="card-items card-items-bottom" *ngIf="this.listChecked.length > 0">
      <div class="item-info">
        Bulk Action:
      </div>
      <div class="item-config d-flex">
          <button class="btn btn-info">Done</button>
          <button class="btn btn-danger" (click)="handleRemoveMutil()">Remove</button>
      </div>
    </div>
</ng-container>